In [337]:
s = 'Tushar'

In [338]:
type(s)

str

In [339]:
s[0]

'T'

In [340]:
s[1]

'u'

In [341]:
s[3]

'h'

In [342]:
s[-1]

'r'

In [343]:
a = 'my name is Tushar'

In [344]:
a[0:7]

'my name'

In [345]:
b = 'inueron'

In [346]:
b[-4:-1]

'ero'

In [347]:
s

'Tushar'

In [348]:
s[-1:-5:-1]

'rahs'

In [349]:
a = 'i am working in IQVIA'

In [350]:
a[::-1]

'AIVQI ni gnikrow ma i'

In [351]:
a[-1::-1]

'AIVQI ni gnikrow ma i'

In [352]:
len(a)

21

In [353]:
a.find('a')

2

In [354]:
a.find('i')

0

In [355]:
a.find("ia")

-1

In [356]:
a.find('in')

9

In [357]:
a

'i am working in IQVIA'

In [358]:
a.count('I')

2

In [359]:
a.find('x')

-1

In [360]:
a.count('x')

0

In [361]:
l = a.split()

In [362]:
type(a.split())

list

In [363]:
l

['i', 'am', 'working', 'in', 'IQVIA']

In [364]:
l[3]

'in'

In [365]:
l[1:3]

['am', 'working']

In [366]:
a.split('w')

['i am ', 'orking in IQVIA']

In [367]:
a.upper()

'I AM WORKING IN IQVIA'

In [368]:
a.lower()

'i am working in iqvia'

In [369]:
a.swapcase()

'I AM WORKING IN iqvia'

In [370]:
a.title()

'I Am Working In Iqvia'

In [371]:
a.capitalize()

'I am working in iqvia'

In [372]:
a

'i am working in IQVIA'

In [373]:
c = 'Tushar'
d = 'Bhakare'

In [374]:
c.join(d)

'BTusharhTusharaTusharkTusharaTusharrTushare'

In [375]:
e = ' '
f = 'Tushar'

e.join(f)

'T u s h a r'

In [376]:
print("_".join("Tushar"))

print("")

print(" ".join("Tushar"))

T_u_s_h_a_r

T u s h a r

In [377]:
reversed("Tushar")

In [378]:
for i in reversed("Tushar"):
    print(i)

r
a
h
s
u
T

In [379]:
f = "Tushar"

f[::-1]

'rahsuT'

In [380]:
a = " Tushar "

In [381]:
a.rstrip()

' Tushar'

In [382]:
a.lstrip()

'Tushar '

In [383]:
a.strip()

'Tushar'

In [384]:
a

' Tushar '

In [385]:
a.replace("u", "**")

' T**shar '

In [386]:
'Tushar\tBhakare'.expandtabs()

'Tushar  Bhakare'

In [387]:
a

' Tushar '

In [388]:
a = "Tushar"

In [389]:
a.islower()

False

In [390]:
a.center(20, "^")

'^^^^^^^Tushar^^^^^^^'

In [391]:
a.isspace()

False

In [392]:
a.isdigit()

False

In [393]:
a.endswith("r")

True

In [394]:
a.startswith('T')

True

In [395]:
#title means start with capital latter

a.istitle()

True

In [396]:
a.encode()

b'Tushar'

In [397]:
l = ['Tushar', 'Bhakare', 3423, 1+2j, True, 235.8]

In [398]:
type(l)

list

In [399]:
l[0]

'Tushar'

In [400]:
l[2]

3423

In [401]:
l[-5]

'Bhakare'

In [402]:
l[0:2]

['Tushar', 'Bhakare']

In [403]:
l[::-1]

[235.8, True, (1+2j), 3423, 'Bhakare', 'Tushar']

In [404]:
l[0]

'Tushar'

In [405]:
type(l[0])

str

In [406]:
l[0][1]

'u'

In [407]:
l[3]

(1+2j)

In [408]:
l[3].real

1.0

In [409]:
l[3].imag

2.0

In [410]:
l1 = ['a', 'b', 65]
l2 = ['x', 'y', 65.69]

In [411]:
l1+l2

['a', 'b', 65, 'x', 'y', 65.69]

In [412]:
l1 +  ["Tushar"]

['a', 'b', 65, 'Tushar']

In [413]:
l1 * 3

['a', 'b', 65, 'a', 'b', 65, 'a', 'b', 65]

In [414]:
l1

['a', 'b', 65]

In [415]:
l1[0]='n'

In [416]:
l1

['n', 'b', 65]

In [417]:
l1[0] = "Tushar"

In [418]:
l1

['Tushar', 'b', 65]

In [419]:
len(l1)

3

In [420]:
'Tushar' in l1

True

In [421]:
444 in l1

False

In [422]:
 l2

['x', 'y', 65.69]

In [423]:
l2.append('wwe')

In [424]:
l2

['x', 'y', 65.69, 'wwe']

In [425]:
l2.pop(1)

'y'

In [426]:
l2

['x', 65.69, 'wwe']

In [427]:
l2.append('dsf')

In [428]:
l2

['x', 65.69, 'wwe', 'dsf']

In [429]:
l2.insert(1, 4567)

In [430]:
l2

['x', 4567, 65.69, 'wwe', 'dsf']

In [431]:
l2.insert(2, [1,6,7,4])

In [432]:
l2

['x', 4567, [1, 6, 7, 4], 65.69, 'wwe', 'dsf']

In [433]:
l2[::-1]

['dsf', 'wwe', 65.69, [1, 6, 7, 4], 4567, 'x']

In [434]:
l2.reverse()

In [435]:
l2

['dsf', 'wwe', 65.69, [1, 6, 7, 4], 4567, 'x']

In [436]:
l1

['Tushar', 'b', 65]

In [437]:
l2[3][1]

6

In [438]:
l2.count('wwe')

1

In [439]:
l2.append('asdfg')

In [440]:
l2

['dsf', 'wwe', 65.69, [1, 6, 7, 4], 4567, 'x', 'asdfg']

In [441]:
l2.append([2,4,0,9])

In [442]:
l2

['dsf', 'wwe', 65.69, [1, 6, 7, 4], 4567, 'x', 'asdfg', [2, 4, 0, 9]]

In [443]:
l1.extend([2,3,6,9,'sdd'])

In [444]:
l1

['Tushar', 'b', 65, 2, 3, 6, 9, 'sdd']

In [445]:
l1

['Tushar', 'b', 65, 2, 3, 6, 9, 'sdd']

In [446]:
l1.extend('Tushar')

In [447]:
l1

['Tushar', 'b', 65, 2, 3, 6, 9, 'sdd', 'T', 'u', 's', 'h', 'a', 'r']

## Tuples

In [448]:
t = (1,2,3,4,5)

In [449]:
type(t)

tuple

In [450]:
t1 = ("Tushar", 234, 45+8j, 56.8, True)

In [451]:
type(t1)

tuple

In [452]:
l = ["Tushar", 234, 45+8j, 56.8, True]

In [453]:
type(l)

list

In [454]:
t1

('Tushar', 234, (45+8j), 56.8, True)

In [455]:
t1[0:2]

('Tushar', 234)

In [456]:
t1[::-1]

(True, 56.8, (45+8j), 234, 'Tushar')

In [457]:
t1[0::2]

('Tushar', (45+8j), True)

In [458]:
l

['Tushar', 234, (45+8j), 56.8, True]

In [459]:
l1 = [4,5,6,7]

In [460]:
l[0]

'Tushar'

In [461]:
l[0] = "Tush"

In [462]:
l

['Tush', 234, (45+8j), 56.8, True]

In [463]:
t1[0]

'Tushar'

In [464]:
t1

('Tushar', 234, (45+8j), 56.8, True)

In [465]:
t1[0] = 'ttt'

TypeError: 'tuple' object does not support item assignment

In [ ]:
s = 'Tushar'

In [ ]:
s[0]

In [ ]:
s[0] = "H"

In [ ]:
t1

In [ ]:
t2 = (23,45,67,3,56,33)

In [ ]:
t1 + t2

In [ ]:
t1

In [ ]:
t1 * 2

In [ ]:
t1.count(True)

In [ ]:
t1.index('Tushar')

In [ ]:
t = (1,2,3,4, (5,6,7), ('Tushar'))

In [ ]:
t

In [ ]:
t1 = ([1,2,3], ('sd', 45, 99), 'iuefj')

In [ ]:
t1

In [ ]:
t1[1][2]

In [ ]:
t1

In [ ]:
t1[0][2] = 88

In [ ]:
t1

In [ ]:
l = list(t1)

In [ ]:
tuple(l)

## Set

In [ ]:
l = [1,1,2,3,4,5,6,7,4,2,5,6,4,3,2,7,8,90,0,3,2]

In [ ]:
set(l)

In [ ]:
s = {}

In [ ]:
type(s)

In [ ]:
s = {2,4,5}

In [ ]:
type(s)

In [ ]:
s = {1,1,2,2,3,3,4,4,8,9,0,8,7,8,77}

In [ ]:
s

In [ ]:
s[0]

In [ ]:
list(s)

In [ ]:
s

In [ ]:
s.add(787)

In [ ]:
s

In [ ]:
s.add('Tushar')

In [ ]:
s

In [ ]:
s.add([1,2,3,4])

In [ ]:
{[1,2,3,2,31,1],11,3}

In [ ]:
s = {(1,2,4,2),4,55,3,2,2,1, (1,3,55)}

In [ ]:
s

In [ ]:
s.remove(4)

In [ ]:
s

In [ ]:
s.discard(55)

In [ ]:
s

In [ ]:
s.remove(99)

In [ ]:
s.discard(99)

In [ ]:
s

In [ ]:
 {'Tush', 'tush'}

## Dictionary

In [ ]:
d = {}

In [ ]:
type(d)

In [ ]:
d = {4:'Sudh'}

In [ ]:
d1 = {"key1" : 4335, 'key2': "Tushar", 69 : [2,3,4,5]}

In [ ]:
d1

In [ ]:
l = [1,2,3,4,5]

In [ ]:
d1['key1']

In [ ]:
d1[69]

In [ ]:
d = {'swwf' : ['gfdf', 'dsqr', 1,5,7,3]}

In [ ]:
d

In [ ]:
d = {'Name' : 'Tushar', 'Mob_no' : 8530609005, 'email' : 'iamtusharkop@gmai.com', 'key1' : [6,5,3], 'key2' : (1,2,3), 'key3' : {1,2,3,4}, 'key4' : {1:3, 4:8}}

In [ ]:
d

In [ ]:
d['key3']

In [ ]:
type(d['key3'])

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
type(d.items())

In [ ]:
d = {'key1' : 'Tush', 'key2' : [1,2,3,4,5]}

In [ ]:
d

In [ ]:
d['key3'] = 'Bhakare'

In [ ]:
d

In [ ]:
d[7] = [3,6,7,3]

In [ ]:
d

In [ ]:
d

In [ ]:
del d['key1']

In [ ]:
d

In [ ]:
del d

In [ ]:
d

In [ ]:
d1 = {'key1' : 'sudh', 'key2' : [12,4,68,9,67]}

In [ ]:
d1

In [ ]:
d1[[1,2,3]] = 'Tushar'

In [ ]:
d1[(1,1,1)] = "Tushar"

In [ ]:
d1

In [ ]:
d1.get('key1')

In [ ]:
d1.get("key2")

In [ ]:
d1 = {'key1': 'Tushar', 'key': 'jdha'}

In [ ]:
d2 = {'key2': 467, 'key3': [4,3,21,3,4]}

In [ ]:
d1.update(d2)

In [ ]:
 d1

In [ ]:
d2

In [ ]:
d1 + d2

In [ ]:
l = [1,2,3,4]
l.append(99)

In [ ]:
l

In [ ]:
l = [1,2,3,4]
l.append(l)

In [ ]:
l

In [ ]:
d1

In [ ]:
d1.fromkeys('key')

In [ ]:
key = ('Tuch', 're', 'Lvdya', 'zhatu')
value = 'xxx'

In [ ]:
d = d1.fromkeys(key, value)

In [ ]:
d

## If, Else For Loop

In [ ]:
a = 10

In [ ]:
a < 15

True

In [ ]:
if a < 15:
    print('My name is Tushar')

My name is Tushar

In [ ]:
coup = input()

if coup == 'Tushar5':
    print('you able to get a discount of 5%')
    paid_amount = 7080 - 7080 * 0.05
    print('you will be able to get one neuron with this amount ', paid_amount)
else:
    print('kindly use valid coupoun code')

you able to get a discount of 5%
you will be able to get one neuron with this amount  6726.0

In [ ]:
study_hour = int(input())
if study_hour < 1:
    print('it may take 8-9 month')
elif study_hour < 4 & study_hour > 1:
    print('may take 6 month')
elif study_hour > 10:
    print('it will take 3 month')
else:
    print('it wil be difficult')

it will take 3 month

In [ ]:
s = input('enter a coupon code')
course = input('enter a course name')
if s == 'onen':
    if course == 'DSA':
        print('yes it is available under onen')
    elif course == 'blockchain':
        print('jhssdj')
    elif course == 'FSDS':
        print('sjajd')

yes it is available under onen

## While, For loop

In [ ]:
l = [1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [ ]:
s = 'Tushar'
for i in s:
    print(i)

T
u
s
h
a
r

In [ ]:
t = (1,2,3,4,5,6,6)

for i in t:
    print(i)

1
2
3
4
5
6
6

In [ ]:
l = [1,2.4,4.8j, 'Tushar']

for i in l:
    print( 'type of', i, type(i))

type of 1 <class 'int'>
type of 2.4 <class 'float'>
type of 4.8j <class 'complex'>
type of Tushar <class 'str'>

In [ ]:
l = [ 1,2,5,6,7]
l1 = []

for i in l:
    print(i + 2)
    l1.append(i+2)

3
4
7
8
9

In [ ]:
l1

[3, 4, 7, 8, 9]

In [ ]:
l = [1,5,7,'Tush', 9+6j, [1,6,4,8]]

for i in l:
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for j in i:
            print(j)

1
5
7
1
6
4
8

In [ ]:
l = [2,45,78,12,'Tush', 6+4j, [56,67, "dasds"]]

In [ ]:
# Print index of all the elements from list l

for i in range(len(l)):
    print('index', i, 'for an element', l[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element Tush
index 5 for an element (6+4j)
index 6 for an element [56, 67, 'dasds']

In [ ]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 'Tush')
(5, (6+4j))
(6, [56, 67, 'dasds'])

In [ ]:
for i, j in enumerate(l):
    print(i, j)

0 2
1 45
2 78
3 12
4 Tush
5 (6+4j)
6 [56, 67, 'dasds']

In [ ]:
l

[2, 45, 78, 12, 'Tush', (6+4j), [56, 67, 'dasds']]

In [ ]:
# try to extract all the str elements 

for i in l:
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
        print(l1)

['T', 'u', 's', 'h']

In [ ]:
# try to return a list after doint a sqr of all the int element

l2 = []
for i in l:
    if type(i) == int:
        l2.append(i**2)

l2

[4, 2025, 6084, 144]

In [ ]:
l = ['name', 'emailid', 'phoneno', 'addr']

for i in l:
    print(i + ' Tushar')

name Tushar
emailid Tushar
phoneno Tushar
addr Tushar

In [ ]:
s = 'Tushar'

for i in s:
    print(i)

T
u
s
h
a
r

In [ ]:
for i in l:
    print(l)
else:
    print('New For Else statement')

['name', 'emailid', 'phoneno', 'addr']
['name', 'emailid', 'phoneno', 'addr']
['name', 'emailid', 'phoneno', 'addr']
['name', 'emailid', 'phoneno', 'addr']
New For Else statement

In [ ]:
l

['name', 'emailid', 'phoneno', 'addr']

In [ ]:
for i in l:
    if i == 'emailid':
        break
    print(i)
else:
    print('Check this statement')

name

## While

In [ ]:
# When while condition is True then only loop will start working or else it will not work 

a = 1
while a < 6:   # here a is smaller than 6 and that is "True" thats why loop condition get executed
    print(a)
    a = a + 1

1
2
3
4
5

In [ ]:
a = 1
while a < 5 :
    print(a)
    if a == 4 :
        break
    a = a + 1

1
2
3
4

In [ ]:
a = 1
while a < 5:
    print(a)
    a = a + 1
    if a == 3:
        continue

1
2
3
4

In [ ]:
while a < 5 :
    pass

In [ ]:
for i in l:
    pass

In [ ]:
while a < 5:
    break

In [ ]:
while a < 4:
    continue

In [ ]:
range(6)

range(0, 6)

In [ ]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [ ]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
list(range(4,100))

[4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
list(range(3, 10, 2))

[3, 5, 7, 9]

In [ ]:
list(range(3, 10, -1))

[]

In [ ]:
list(range(10, 6, -1))

[10, 9, 8, 7]

In [ ]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [ ]:
n = 5
for i in range(0, n):
    for j in range(0, i+1):
        print("*", end= "")
    print("\r")

*
**
***
****
*****

In [ ]:
n = 3 
for i in range(0,n):
    for j in range(0, i+1):
        print("Tushar ", end = "")
    print("\r")

Tushar
Tushar Tushar
Tushar Tushar Tushar

In [ ]:
n = 5 
for i in range(0, n):
    for j in range(0, i+1):
        print("Tushar ", end = "|")
    print("\r")

Tushar |
Tushar |Tushar |
Tushar |Tushar |Tushar |
Tushar |Tushar |Tushar |Tushar |
Tushar |Tushar |Tushar |Tushar |Tushar |

In [ ]:
list(range(0,3))

[0, 1, 2]

In [ ]:
list(range(0,4))

[0, 1, 2, 3]

In [ ]:
t = (3,4,4,5,6,7,7)

In [ ]:
for i in range(len(t)-1, -1, -1):
    print(t[i])

7
7
6
5
4
4
3

In [ ]:
d = {"a ": "wfwf", "b ": 'jjv'}

In [ ]:
for i in d:
    print(i, d[i])

a  wfwf
b  jjv

In [ ]:
d.items()

dict_items([('a ', 'wfwf'), ('b ', 'jjv')])

In [ ]:
for i in d.items():
    print(i)

('a ', 'wfwf')
('b ', 'jjv')

In [ ]:
s = {1,3,5,56,37,88,90,1,0}

In [ ]:
s

{0, 1, 3, 5, 37, 56, 88, 90}

In [ ]:
for i in  s:
    print(i)

0
1
3
5
37
56
90
88

In [ ]:
s = "This is basic python class"
len(s)

26

In [ ]:
count = 0 

for i in s:
    #count = count + 1
    count += 1
print(count)

26

In [ ]:
s[::-1]

'ssalc nohtyp cisab si sihT'

In [ ]:
for i in range(len(s)-1, -1, -1):
    print(s[i])

s
s
a
l
c

n
o
h
t
y
p

c
i
s
a
b

s
i

s
i
h
T

In [ ]:
i = len(s)-1

while (i >= 0):
    print(s[i], end = " ")
    i = i -1

s s a l c   n o h t y p   c i s a b   s i   s i h T

In [ ]:
s = "ineuron"
v = "AaEeIiOoUu"

str = []
vov = []

for i in s:
    if i in v:
        print(i, "is vovel")
    else:
        print(i, "Not vovel")

i is vovel
n Not vovel
e is vovel
u is vovel
r Not vovel
o is vovel
n Not vovel

In [ ]:
a = "level"

if (a == a[::-1]):
    print("true")
else:
    print("false")

true

In [ ]:
d = {"India": "IN",
     "Canada": "CA", 
     "china": "CH",
     "United State" : "Us"}

In [ ]:
"India" in d

True

In [ ]:
l_greater = []
l_smaller = []

for i in d:
    if len(i) <= 5:
        l_smaller.append(i)
    else:
        l_greater.append(i)

In [ ]:
l_greater

['Canada', 'United State']

In [ ]:
l_smaller

['India', 'china']

In [ ]:
d = {"ineuron": {
                    "a" : 14,
                    "b" : 10,
                    "c" : 4
                    },
        "course" : {
                    "d" : 45,
                    "e" : 34,
                    "f" : 1
                    }
        }

In [ ]:
l = []
for i in d.values():
    for j in i.values():
        l.append(j)
    print(max(l))

14
45

In [ ]:
l

[14, 10, 4, 45, 34, 1]

In [ ]:
d = {"ineuron": {
                    "a" : 14,
                    "b" : 10,
                    "c" : 4
                    },
        "course" : {
                    "d" : 45,
                    "e" : 34,
                    "f" : 1
                    }
        }

for i in d.values():
    print(max(i.values()))

14
45

In [ ]:
for i in d.keys():
    print(max(d[i].values()))

14
45

In [ ]:
# Find max value of int from d1

d1 = {"ineuron": {
                    "a" : 14,
                    "b" : 10,
                    "c" : 4
                    },
        "course" : {
                    "d" : 45,
                    "e" : 34,
                    "f" : 1
                    },
        "g" : 34,
        "h" : [455,6,7,8,9,3],
        "i" : (45,34,1),
        "k" : "Tushar"
        }

# solution 1 
l1 = []
for i in d1.values():
    if type(i) == dict:
        l1.append(max(i.values()))
    elif type(i) == list:
        l1.append(max(i))
    elif type(i) == tuple:
        l1.append(max(i))
    elif type(i) == str:
        pass
    elif type(i) == int:
        l1.append(i)
#print(l1)
print(max(l1))

455

### Functions

In [ ]:
len("Tushar")

6

In [ ]:
print("sfds")

sfds

In [ ]:
def test():
    print('This is my first fun')

In [ ]:
test()

This is my first fun

In [ ]:
a = test()

This is my first fun

In [ ]:
a

In [ ]:
type(test())

This is my first fun

NoneType

In [ ]:
def test2():
    return "This is my first function"

In [ ]:
type(test2())

str

In [ ]:
test2() + " Tushar"

'This is my first function Tushar'

In [ ]:
def test3():
    return 764

In [ ]:
type(test3())

int

In [ ]:
def test4():
    return 4,3, 'Tushar', [1,2,3,4,5]

In [ ]:
test4()

(4, 3, 'Tushar', [1, 2, 3, 4, 5])

In [ ]:
type(test4())

tuple

In [ ]:
b = test4()

In [ ]:
b

(4, 3, 'Tushar', [1, 2, 3, 4, 5])

In [ ]:
b[3]

[1, 2, 3, 4, 5]

In [ ]:
test4()

(4, 3, 'Tushar', [1, 2, 3, 4, 5])

In [ ]:
a = 1
b = 5
c = "tush"
d = [134123,43,64,7,332]

In [ ]:
a,b,c,d = 34,45,"Tu", "ds"

In [ ]:
a,b,c,d

(34, 45, 'Tu', 'ds')

In [ ]:
test4()

(4, 3, 'Tushar', [1, 2, 3, 4, 5])

In [ ]:
x,y,u,v = test4()

In [ ]:
x

4

In [ ]:
y

3

In [ ]:
u

'Tushar'

In [ ]:
v

[1, 2, 3, 4, 5]

In [ ]:
def test5():
    a = 6*7/6
    return a

In [ ]:
test5()

7.0

In [ ]:
l = [3,4,5,6,7,7,"Tushar", [1,3,4,54,56]]

In [ ]:
def test6(a):
    n = []
    if type(a) == list:
        for i in a:
            if type(i) == int:
                n.append(i)
    return n

In [ ]:
test6(l)

[3, 4, 5, 6, 7, 7]

In [335]:
# Printing triangle by getting n values 

def triangle(n):
    if type(n) == int:
        for i in range(0, n):
            for j in range(0, i + 1):
                print("*", end = "")
            print("\r")

In [336]:
triangle(5)

*
**
***
****
*****

#### Create function to count len of string

In [466]:
# Create function to count len of string

def lenn(a):
    count = 0
    if type(a) == str:
        for i in a:
            count = count + 1
    return count

#### How to pass multiple number of input values

In [467]:
#How to pass multiple number of input values

def test1(*args):
    return args

In [468]:
test1(322,423,54,23)

(322, 423, 54, 23)

In [469]:
def test2(*tush):
    return tush

In [470]:
test2(12,2342,"fsd")

(12, 2342, 'fsd')

In [471]:
def test3(*tush, a):
    return tush, a

In [473]:
test3(1,2,3, a = "afa")

((1, 2, 3), 'afa')

In [474]:
def test4(*tush, a,b,c): 
    return *tush, a,b,c

In [476]:
test4(1,3,5,2, a = [6,5,6], b = "dss", c = 1.1)

(1, 3, 5, 2, [6, 5, 6], 'dss', 1.1)

Que 1. 
You have To write a function which will take string and return a len of it without using inbuilt function len

In [563]:
def countlen(a):
    count = 0
    for i in a:
        count = count + 1
    return count

countlen("Tushar")

6

In [569]:
# trying to add condition to if input value is either str or not

def countlen(a):
    print(f"Input: {a}, type: {type(a)}")
    if type(a) != str:
        return "Plz enter str value"

    count = 0
    for i in a:
        count = count + 1
    return count


countlen("Tushar")

Input: Tushar, type: <class 'str'>

'Plz enter str value'

In [9]:
a = "Tushar"

a[:-6:-1]

'rahsu'